/* Guardando as principais cores em variaveis */
:root{
    --vermelho:#e50914;
    --preto:#141414;
}

/* Reset basico do CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base */

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'arial black', times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    
}

/* Filme Princial */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url(/img/tiu1.jpg); /* transparencia do botao*/
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.filme-principal .descricao {
    margin-bottom: 50px;
    margin-top: 10px;
}

.filme-principal .titulo {
    margin-top: 20%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: 1px solid transparent;
    border-radius: 3px;
    color: white;
    padding: 10px 25px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s e all; /* Efeito de transição */
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.botao a {
    text-decoration: none;
    color: inherit;
}

.botao a:hover{
    color: black;
}

.btn-add {
    background: transparent;
    border: transparent;
    color: #AAA;
    cursor: pointer;
}

.btn-add:hover{
    color: white ;
}

.container, .botoes {
    margin-left: 20px;
}

.filme-principal .container {
    width: 60%;
}

.destaques {
    padding: 15px;
    margin-top: 10px;
}

.destaques:hover{
    color: var(--vermelho);
    cursor: default;
    /* text-decoration: underline; */
    transition: 0.3s;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
    cursor: pointer;
}

.label {
   margin-top: 10px;
}

.container-info {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,.50);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.container-info.mostrar{
    display: flex;
}

.pop-up {
    background: var(--preto);
    width: 50%;
    min-width: 300px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;

}

.pop-up h2{
    text-align: center;
}

.pop-up p {
    margin-top: 15px;
    text-align: justify;
}

@keyframes popup {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .pop-up {
    animation: popup .3s;
}

.pop-up .botao {
    position: absolute;
    font-size: 1.1em;
    top: -25px;
    right: -25px;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}